
ToastReminders/.vs/ToastReminders/v16/Server/sqlite3/db.lock
ToastReminders/ToastReminders/obj/Debug/ToastReminders_MarkupCompile.lref
ToastReminders/ToastReminders/obj/Debug/ToastReminders_MarkupCompile.cache
ToastReminders/ToastReminders/obj/Debug/ToastReminders_MarkupCompile.lref
ToastReminders/ToastReminders/obj/Debug/ToastReminders_MarkupCompile.cache
ToastReminders/ToastReminders/obj/Debug/ToastReminders.csprojAssemblyReference.cache
ToastReminders/ToastReminders/obj/Debug/MainWindow.baml
ToastReminders/.vs/ToastReminders/v16/Server/sqlite3/storage.ide-wal
ToastReminders/.vs/ToastReminders/v16/Server/sqlite3/storage.ide-shm
